<<<<<<< HEAD
.rotate-15 {
  transform: rotate(15deg);
}

.rotate-n-15 {
  transform: rotate(-15deg);
}
=======
.rotate-15 {
  transform: rotate(15deg);
}

.rotate-n-15 {
  transform: rotate(-15deg);
}
>>>>>>> 76bc0105ae19d4376a5f7fe483e3c188e8da3a47
